

<div class="my-auto text-center">
    <h3>All</h3>
    <h2 style="font-size: 4rem;">About Us</h2>
</div>



<div class="col-md-4 border text-center  p-4  " >
  <img src="https://media.licdn.com/dms/image/D4D03AQHMj6TIgcUxvg/profile-displayphoto-shrink_800_800/0/1674899034827?e=2147483647&v=beta&t=vz_azWf0sFaeFYvMsYQTYMLCiHsJW2DB9wL0YFu8fIg" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Rajvendra Rahi(That's Me) </h5>
  <p class="text-muted">I am the CEO of Kamingo Consultancy I look everything around here but I like coding and talking to people.</p>


  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>

</div>
<div class="col-md-4 border text-center p-4" >
  <img src="https://media.licdn.com/dms/image/D5603AQFhstS_GLPMKQ/profile-displayphoto-shrink_200_200/0/1688651646539?e=1698883200&v=beta&t=RKsOV0dGio9y7Jy8uHZmycU1K1l3wVTKQeYBtA8TNrY" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Trivendra Rahi</h5>
  <p class="text-muted" >I am the CFO or The back bone of Kamingo Consultancy I provide Cash and I like to take strong decisions with raj </p>

  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>


</div>
<div class="col-md-4 border text-center p-4" >
  <img src="https://thumbs.dreamstime.com/b/greek-round-antique-pattern-alexander-great-macedonian-vector-ornament-geometric-134991663.jpg" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Sikander</h5>
  <p class="text-muted" >I am the guy Who deals with you guys I like to talk and make connections lots of connections</p>

  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>


</div>
<div class="col-md-4 border text-center p-4" >
  <img src="https://media.licdn.com/dms/image/D4D03AQFHJdv7OjX1Lg/profile-displayphoto-shrink_200_200/0/1680436852977?e=1698883200&v=beta&t=C8ZspV0e52Uz4FVcMi2z62ulqB693PrnYuZsFLpuK3g" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Ayush Tripathi</h5>
  <p class="text-muted" >You can call me a market guy I like to deal with marketing stuff and creating more clients</p>

  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>


</div>
<div class="col-md-4 border text-center p-4" >
  <img src="https://as2.ftcdn.net/v2/jpg/05/28/15/39/1000_F_528153983_mOYVMqbF53g6rwiXvAhMBIuQhjS6K6Fo.jpg" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Ayush Dhapade</h5>
  <p class="text-muted" >I am the CTO of Kamingo Consultancy and i like coding and creating products for you guys</p>

  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>


</div>

<div class="col-md-4 border text-center p-4" >
  <img src="https://media.licdn.com/dms/image/D5603AQH9whh5kQGJtw/profile-displayphoto-shrink_200_200/0/1674190772365?e=1698883200&v=beta&t=PHVbvFgOxABMLNVkO122ODVL-9A2-EubRibLQxp57KM" class="rounded-circle border shadow mb-3" width="100px" alt="" srcset="">
  <h5>Sachin Singh Baghel</h5>
  <p class="text-muted" >I am the creative force behind the design and visual storytelling at our company." As a designer, UI/UX expert, video editor, and your overall impact on the company's creative endeavors.</p>

  <a href="https://www.facebook.com/rajvendra.rahi" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-facebook"></i></a>
  <a href="https://twitter.com/RajvendraRahi" class="social-icon  m-2   " style="font-size: 1.2rem;"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/rajvendra_rahi/" class="social-icon  m-2 " style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/" class="social-icon   m-2" style="font-size: 1.2rem;"><i class="fab fa-linkedin"></i></a>


</div>



