<style>
  /* Default link styles */
  a {
    color: rgb(116, 116, 116);
    text-decoration: none;
    /* Remove underline */
  }

  /* Link styles on hover */
  a:hover {
    color: #afafaf;
    /* Change this to your desired hover color */
    text-decoration: none;
    /* Remove underline on hover */
  }
</style>


<div class="col-md-3 d-flex">

  <img src="kamingo_favicon.png" class="me-2 ms-auto mb-3" alt="" srcset="" style="width: 3.2rem; height: 3.2rem;">
  <div class="me-auto">
    <h4 class="m-0 fw-bold" style="color: cornflowerblue;">Kamingo</h4>
    <h5 class="m-0" style="color: cornflowerblue;">Consultancy</h5>
  </div>
</div>
<div class="col-md-2">
  <ul>
    <h5>Products</h5>
    <li class="my-3">
      <a href="" class="">Content Creation</a>

    </li>
    <li class="my-3">
      <a href="" class="">Digital Marketing</a>

    </li>
    <li class="my-3">
      <a href="" class="">Development</a>

    </li>

  </ul>
</div>
<div class="col-md-2">
  <ul>
    <h5>Company</h5>
    <li class="my-3">
      <a href="" class="">Terms & Conditions</a>

    </li>
    <li class="my-3">
      <a href="" class="">Privacy</a>

    </li>
    <li class="my-3">
      <a href="" class="">Careers</a>

    </li>

  </ul>
</div>
<div class="col-md-2">
    <ul>
        <h5>Links</h5>
        <li class="my-3">
          <a href="/" class="">Home</a>
    
        </li>
        <li class="my-3">
          <a href="#created" class="">Projects</a>

        </li>
        <li class="my-3">
            <a href="#aboutus">About</a>
  
          </li>
          <li class="my-3">
            <a href="/contactus">Contactus</a>
  
          </li>
          
          <li class="my-3">
            <a href="" class="">blog</a>
  
          </li>
    
      </ul>
</div>
<div class="col-md-3">

  <ul>
    <h5>Contact</h5>
    <li class="my-3">
      <a href="tel:+918109204371" class="">+918109204371</a>

    </li>
    <li class="my-3">
      <a href="mailto:kamingoconsultancy@gmail.com" class="">kamingoconsultancy@gmail.com</a>


    </li>


  </ul>
</div>