<!DOCTYPE html>
<html lang="en">

    <%- include('./header.ejs') %>

<body>




    <div class="container" style="font-family: 'Plus Jakarta Sans', sans-serif;">
        <%- include('./navbar.ejs') %>


        <div class="row " style="margin-top: 7rem;">
            <div class="col text-center   p-4 ">
                <img src="person1.png"  width="100px" srcset="">
            </div>
            <div class="col-md-6 bg-dark text-white p-4" style="border-radius: 0rem 5rem 0 0rem;" >
                <h5>rajvendra</h5>
                <p>rajvendra rahi is the ceo</p>
            </div>

        </div>

        
        <div class="row">
            <div class="col bg-dark text-white  p-4" style="border-radius: 0rem 0rem 0rem 5rem;" >
                <h5>rajvendra</h5>
                <p>rajvendra rahi is the ceo</p>
            </div>
            <div class="col-md-6 text-center   p-4 ">
                <img src="person1.png"  width="100px" srcset="">
            </div>


        </div>


    </div>



</body>
</html>
