<!DOCTYPE html>
<html lang="en">

<%- include('./header.ejs') %>
<style>
    /* Add your custom CSS for the animated background here */

    .animated-background {
      background: linear-gradient(45deg, #ff5733, #ff33d3, #33a4ff, #33ff6d);
      background-size: 400% 400%;
      animation: gradientBG 10s ease infinite;
    }

    @keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .content {
      text-align: center;
      position: relative;
      z-index: 1;
    }


    .heading {
  font-size: 5rem;
}

/* Media query for mobile screens (adjust the max-width as needed) */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem; /* Adjust the font size for mobile screens */
  }
}


</style>

<body>
  <div class="container" style="font-family: 'Plus Jakarta Sans', sans-serif;">
    <%- include('./navbar.ejs') %>

    <div class="row text-center animated-background rounded-5" style="min-height: 70vh;">
      <div class="m-auto">
        <h1>Empowering your </h1>
        <h1 class="heading" style="">Online Presence</h1>
        <div class="text-center my-4">
          <a href="" class="btn btn-primary btn-lg">Let's Go</a>
        </div>
      </div>
    </div>

    <div class="row shadow-sm mb-2" style="margin-top: 2rem; min-height: 35vh;">
      <div class="col-12 col-md-6 text-center p-2">
        <img src="videoediting.png" class="" width="300px" alt="Video Editing">
      </div>
      <div class="col-12 col-md-6 bg-dark text-white p-3" style="border-radius: 0 5rem 0 0;">
        <h3>Video Editing</h3>
        <p class="mb-0" style="color: gray;">Elevate your online presence with our cutting edge video editing services. Our team of expert designers and editors is dedicated to bringing your vision to life. Let your website be the canvas and our video creation be the brush that paints your digital masterpiece. Get ready to mesmerize your visitors and make a memorable statement through the power of visual storytelling.</p>
        
      </div>
    </div>

    <div class="row" style="min-height: 35vh; margin-bottom: 7rem;">
      <div class="col-12 col-md-6 bg-dark text-white p-3" style="border-radius: 0 0 0 5rem;">
        <h3>Graphics Design</h3>
        <p style="color: gray;">Graphic design is a powerful visual communication tool that combines art and technology to convey messages, ideas, and stories. We offer a wide range of graphic design services to help you stand out in a visually competitive world. Our team of skilled designers can create compelling designs that align with your brand identity and resonate with your target audience.</p>
       
      </div>
      <div class="col-12 col-md-6 text-center p-2">
        <img src="grapic.png" class="" width="300px" alt="Graphic Design">
      </div>
    </div>

    <hr>
    <div class="row" style="margin-top: 5rem;" id="aboutus">
      <%- include('./connect.ejs') %>
    </div>
  </div>
  <%- include('./socialmedia.ejs') %>

  <!-- Bootstrap JS and additional scripts (if any) can be included here -->
</body>
</html>
