<!DOCTYPE html>
<html lang="en">

    <%- include('./header.ejs') %>

<body>




    <div class="container" style="font-family: 'Plus Jakarta Sans', sans-serif;">
        <%- include('./navbar.ejs') %>


        <div class="row shadow-sm" style="margin-top: 3rem;">
            <div class="col text-center   p-2 ">
                <img src="videoediting.png"  width="220px" srcset="">
            </div>
            <div class="col-md-6 bg-dark text-white p-3" style="border-radius: 0rem 5rem 0 0rem;" >
                <h3>Video Editing</h3>
                <p class="m-0" >Elevate your online presence with our cutting edge video editing services.Our team of experts designers and editors is dedicated to bring your vision to life... let your website be the canvas and our video creation be the brush that paint your digital masterpiece.. Get ready to mesmerize your visitors and
                    make a memorable statement through the power of
                    visual storytelling</p>
            </div>

        </div>

        
        <div class="row" shadow-sm>
            <div class="col bg-dark text-white  p-3" style="border-radius: 0rem 0rem 0rem 5rem;" >
                <h3>Graphics Design</h3>
                <p>Graphic design is a powerful visual communication tool that combines art and technology to convey messages, ideas, and stories.we offer a wide range of graphic design services to help you stand out in a visually competitive world. Our team of skilled designers can create compelling designs that align with your brand identity and resonate with your target audience. </p>
            </div>
            <div class="col-md-6 text-center   p-2 ">
                <img src="grapic.png"  width="220px" srcset="">
            </div>


        </div>


    </div>



</body>
</html>
