<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs') %>

<body>


    <div class="container">
        <div class="row ">
            <div class="col-md-7">
                <div class="row my-1 p-4 rounded bg-danger text-center" style="background-image: url('wave.png'); background-repeat:no-repeat; background-size: cover;">
                    
                    <h1 class="" style="font-size: 10rem;">🍠</h1>
                    <h1 class="text-white m-3 fw-bold" style="font-size: 2rem;">Website Marketing</h1>
                   <p class="text-white">In today's digital age, a strong online presence is crucial for success. Whether you're a business, organization, or individual, your website is a powerful tool to connect with your audience, increase visibility, and achieve your goals. This is where website marketing comes into play.Website marketing, also known as digital marketing or online marketing, encompasses a range of strategies and techniques designed to promote and advertise your website on the internet.</p>
                    <div class=""><a href="" class="btn btn-sucess">Buy Now</a>
                    </div>
                </div>
                <div class="row my-1 p-4 rounded bg-dark">
                    rajvendra
                </div>
            </div>
            <div class="col-md-4 bg-warning rounded p-4 m-1" style="height: 80vh;">
                rajvendra

            </div>

        </div>
    </div>


</body>
</html>