<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs') %>

<body>


    <div class="container">
        <div class="row ">
            <div class="col-md-8">
                <div class="row m-1 p-4 rounded bg-danger">
                    rajvendra
                </div>
                <div class="row m-1 p-4 rounded bg-dark">
                    rajvendra
                </div>
            </div>
            <div class="col-md-4 bg-warning rounded p-4" style="height: 80vh;">
                rajvendra

            </div>

        </div>
    </div>


</body>
</html>