<nav class="navbar navbar-expand-lg bg-white sticky-top  mb-2 " style="border-bottom: 1px rgb(227, 227, 227) solid; border-radius: 0 0 2rem 2rem;">
    <div class="container-fluid ">

      <img src="kamingo_favicon.png" class="me-2 mb-2" alt="" srcset="" style="width: 3.2rem;">


      <div class="text-start me-auto">

        <h4 class="m-0 fw-bold " style="color: cornflowerblue;">Kamingo</h4>

        <h5 class="m-0 " style="color: cornflowerblue;">Consultancy</h5>
        <!-- <h6 class="m-0 " style="color: cornflowerblue;" >Services</h6> -->
        <!-- <a class="navbar-brand fw-bolder me-auto " style="color: cornflowerblue;" href="#">Kamingo</a> -->

        <!-- <a class="navbar-brand fw-bolder me-auto " style="color: cornflowerblue;" href="#">Consultancy</a> -->
      </div>

    </div>
  </nav>