<nav class="navbar navbar-expand-lg bg-white sticky-top mb-2" style="border-bottom: 1px rgb(227, 227, 227) solid; border-radius: 0 0 2rem 2rem;">
  <div class="container-fluid">
      <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="text-start d-flex ">
        <img src="kamingo_favicon.png" class="me-2 mb-2" alt="" srcset="" style="width: 3.2rem;">
        <div class="">
          <h4 class="m-0 fw-bold" style="color: cornflowerblue;">Kamingo</h4>
          <h5 class="m-0" style="color: cornflowerblue;">Consultancy</h5>
        </div>

      </div>
      <div class="collapse navbar-collapse  " id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link"  href="#partners" style="color: cornflowerblue;">Projects</a>
                  
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#blog" style="color: cornflowerblue;">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#aboutus" style="color: cornflowerblue;">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contactus" style="color: cornflowerblue;">ContactUs</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
