<div id="partners-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">  <!-- Indicators --> 
  <div class="text-center my-3">
    <h2>People Who Trust Us</h2>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow rounded-5 bg-primary bg-gradient text-white">
          <img src="kalug.jpg" style="width: 10rem;" class="m-5" alt="" srcset="">
          <h4 class="text-dark">Kalyug Ka Kurukshetra</h4>
          <p >"We Created A Registration Website For Dance Events."</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow rounded-5 bg-primary bg-gradient text-white">
          <img src="kvk.jpeg" style="width: 10rem;" class="m-5" alt="" srcset="">
          <h4 class="text-dark">Kvk Damoh gov</h4>
          <p >"We Created Bundeli Kissan App for Government of Damoh. That Helps Farmers."</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow rounded-5 bg-primary bg-gradient text-white">
          <img src="saas2.png" class="m-5" style="width: 10rem;" alt="" srcset="">
          <h4 class="text-dark">Saas Product</h4>
          <p >"We Created Saas Products that are helping Many Businesses."</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#partners-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#partners-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>