


<div class="text-center text-white my-3">
  <h3>People Who </h3>
  <h2 style="font-size: 4rem;">Trust Us</h2>

</div>


<div class="col border rounded-4 m-3 text-center shadow-sm bg-white">
  <img src="kalug.jpg" style="width: 5rem;" class="m-5" alt="" srcset="">
  <h4 class="text-dark">Kalyug Ka Kurukshetra</h4>
  <p class="text-muted" >"We Created A Registration Website For Dance Events."</p>
</div>

<div class="col border rounded-4 m-3 text-center shadow-sm bg-white">
  <img src="kvk.jpeg" style="width: 5rem;" class="m-5" alt="" srcset="">
  <h4 class="text-dark">Kvk Damoh gov</h4>
  <p class="text-muted" >"We Created Bundeli Kissan App for Government of Damoh. That Helps Farmers."</p>
</div>
<div class="col border rounded-4 m-3 text-center shadow-sm bg-white">
  <img src="saas2.png" class="m-5" style="width: 5rem;" alt="" srcset="">
  <h4 class="text-dark">Saas Product</h4>
  <p class="text-muted" >"We Created Saas Products that are helping Many Businesses."</p>
</div>