
<div class="text-center pt-4 " style="">
  <h2>People Who Trust Us</h2>

</div>
<div id="partnersCarousel" class="carousel slide" data-bs-ride="carousel" style="">
  <!-- Indicators -->


  <!-- Carousel items -->
  <div class="carousel-inner">




    <div class="carousel-item active">
      <div class="col mb-3">
        <div class=" text-center rounded-3 m-3 ">
          <img src="kalug.jpg" style="width: 8rem;" class="m-3  " alt="" srcset="">
          <h4>Kalyug Ka Kurukshetra</h4>
          <p>We Created A Registration Website For Dance Events.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col mb-3">
        <div class="text-center rounded-3 m-3  ">
          <img src="kvk.jpeg" style="width: 8rem;" class="m-3" alt="" srcset="">
          <h4>Kvk Damoh gov</h4>
          <p>We Created Bundeli Kissan App for Government of Damoh. That Helps Farmers.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col mb-3">
        <div class=" text-center rounded-3 m-3 ">
          <img src="saas2.png" style="width: 8rem;" class="m-3" alt="" srcset="">
          <h4>Saas Product</h4>
          <p>We Created Saas Products that are helping Many Businesses.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#partnersCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#partnersCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
