<div class="row mb-2 text-center">
  <h2>People Who Trust Us</h2>

</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="kalug.jpg" style="width: 10rem;" alt="" srcset="">
    <h4>Kalyug Ka Kurukshetra</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, id ad incidunt dolore.</p>
    <button class="btn btn-primary mb-3" type="">Learn More</button>
  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="kvk.jpeg" style="width: 10rem;" alt="" srcset="">
    <h4>Kvk Damoh gov</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, id ad incidunt dolore.</p>
    <button class="btn btn-primary mb-3" type="">Learn More</button>
  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="app.png" style="width: 10rem;" alt="" srcset="">
    <h4>Development</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, id ad incidunt dolore.</p>
    <button class="btn btn-primary mb-3" type="">Learn More</button>
  </div>
</div>