<div id="partners-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">  <!-- Indicators --> 
  <div class="text-center my-3">
    <h2>People Who Trust Us</h2>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow bg-primary bg-gradient text-white">
          <img src="website.png" style="width: 10rem;" alt="" srcset="">
          <h4>Content Creation</h4>
          <p>We create content for your business.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow bg-primary bg-gradient text-white">
          <img src="video.png" style="width: 10rem;" alt="" srcset="">
          <h4>Digital Marketing</h4>
          <p>We promote your business.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="border py-5 text-center rounded-3 m-2 shadow bg-primary bg-gradient text-white">
          <img src="app.png" style="width: 10rem;" alt="" srcset="">
          <h4>Development</h4>
          <p>We create any type of website and apps.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control-prev" href="#partners-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#partners-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>