 <div class="col-4 text-center" >


   <div class="card" style="width: 18rem;">
      <img src="website.png" class="bg-primary" style="max-width:20rem; " alt="" srcset="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
 </div>
 <div class="col-4  text-center">
   <div class="card" style="width: 18rem;">
      <img src="app.png" class="bg-primary" alt="" style="max-width: 20rem;" srcset="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

 </div>
 <div class="col-4  text-center">
   
   <div class="card" style="width: 18rem;">
      <img src="database.png" class="bg-primary" style="max-width: 20rem;" alt="" srcset="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


 </div>
 <div class="col-4  text-center">
   <div class="card" style="width: 18rem;">
      <img src="video.png" class="bg-primary"  style="max-width: 20rem;" alt="" srcset="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


 </div>
 <div class="col-4  text-center">
   <div class="card" style="width: 18rem;">
      <img src="poster.png" class="bg-primary"  style="max-width: 20rem;" alt="" srcset="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

 </div>