


<div class="row mb-2 text-center  " id="partners">
  <h2>Our Services</h2>

</div>
<div class="col-md-3">
  <div class="border  text-center rounded-3 m-1 shadow-sm ">
    <img src="website.png" style="width: 10rem;" alt="" srcset="">
    <h5>Content Creation</h5>
    <p class="text-muted m-0">We create content that your bussiness required.</p>
    <a href="/contentcreation" class="btn m-3">Learn More..</a>
    
  </div>
</div>
<div class="col-md-3">
  <div class="border text-center rounded-3 m-1 shadow-sm ">
    <img src="video.png" style="width: 10rem;" alt="" srcset="">
    <h5>Digital Marketing</h5>
    <p class="text-muted m-0">We promote your bussiness with advertisments .</p>
    <a href="/digitalmarketing" class="btn m-3">Learn More..</a>
  </div>
</div>
<div class="col-md-3">
  <div class="border text-center rounded-3 m-1 shadow-sm ">
    <img src="app.png" style="width: 10rem;" alt="" srcset="">
    <h5>Development</h5>
    <p class="text-muted m-0">We create any type of website and apps.</p>
    <a href="/development" class="btn m-3">Learn More..</a>

  </div>
</div>
<div class="col-md-3">
    <div class="border text-center rounded-3 m-1 shadow-sm ">
      <img src="datascience.png" style="width: 10rem;" alt="" srcset="">
      <h5>Data Analytics</h5>
      <p class="text-muted m-0">We analysis and create data that can help you grow.</p>
      <a href="/dataanalytics" class="btn m-3">Learn More..</a>
  
    </div>
  </div>
