<div class="row mb-2 text-center " id="partners">
  <h2>Our Services</h2>

</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="website.png" style="width: 10rem;" alt="" srcset="">
    <h4>Content Creation</h4>
    <p>We create content for your bussiness.</p>
    
  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="video.png" style="width: 10rem;" alt="" srcset="">
    <h4>Digital Marketing</h4>
    <p>We promote your bussiness.</p>

  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 ">
    <img src="app.png" style="width: 10rem;" alt="" srcset="">
    <h4>Development</h4>
    <p>We create any type of website and apps.</p>

  </div>
</div>