


<div class="row mb-2 text-center  " id="partners">
  <h2>Our Services</h2>

</div>
<div class="col ">
  <div class="border  text-center rounded-3 m-2 shadow-sm ">
    <img src="website.png" style="width: 10rem;" alt="" srcset="">
    <h4>Content Creation</h4>
    <p class="text-muted m-0">We create content for your bussiness.</p>
    <a href="" class="btn m-3">Learn More..</a>
    
  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 shadow-sm ">
    <img src="video.png" style="width: 10rem;" alt="" srcset="">
    <h4>Digital Marketing</h4>
    <p class="text-muted m-0">We promote your bussiness.</p>
    <a href="" class="btn m-3">Learn More..</a>
  </div>
</div>
<div class="col">
  <div class="border text-center rounded-3 m-2 shadow-sm ">
    <img src="app.png" style="width: 10rem;" alt="" srcset="">
    <h4>Development</h4>
    <p class="text-muted m-0">We create any type of website and apps.</p>
    <a href="" class="btn m-3">Learn More..</a>

  </div>
</div>