<style>
  /* Sticky Footer styles */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .footer {
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px 0;
  }

  .social-icon {
    font-size: 14px;
    margin-right: 10px;
    color: cornflowerblue
  }
</style>



<footer class="footer text-center h-100 ">
  <div class="container">
    <div class="row">
  
      <div class="col-md-6  text-center">
        <hr>    
        <a href="https://www.facebook.com/profile.php?id=100084222438048" class="social-icon btn btn-dark text-white"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/OfficialKamingo" class="social-icon btn btn-primary text-white"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/officialkamingo/" class="social-icon btn btn-primary text-white"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/kamingoconsultancy" class="social-icon btn btn-primary text-white"><i class="fab fa-linkedin"></i></a>

      </div>
     
      <div class="col-md-6 text-center">
        <hr>
        <!-- <p  class="m-2" id="">Build By kamingoconsultancy💖</p> -->
        
    <p class="me-auto mb-0">
        <span class="icon"><i class="fas fa-phone"></i></span>
   <a href="tel:+1234567890" class="text-dark">+918109204371</a>
    </p>
    <p class="  me-auto mb-0">
        <span class="icon"><i class="fas fa-envelope"></i></span>
         <a href="mailto:your.email@gmail.com" class="text-dark">kamingoconsultancy@gmail.com</a>
    </p>
    <style>
      /* Style for footer */


      /* Style for icons */
      .icon {
          margin-right: 10px;
      }

      /* Style for links */
      footer a {
          color: #fff;
          text-decoration: none;
      }
  </style>
      </div>
    </div>
  </div>

</footer>
