<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kamingo Consultancy </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans+JP&family=Oswald:wght@500;600&family=Poppins:wght@300;700&family=Roboto+Mono:wght@400;500&family=Rubik:wght@600&family=Ysabeau+Infant:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="kcs.png">

</head>

<style>
  .btn {
    border: 2px cornflowerblue solid;

    box-shadow: none;
    background-color: dodgerblue;
    color: rgb(164, 206, 243);
    /* border-radius: 0.7rem; */
    height: auto;


  }

  .btn:hover {
 
    background-color: cornflowerblue;
    color: white;
    border: 2px darkcyan solid;
    /* border-radius: 0.7rem; */
    box-shadow: 7px 7px deepskyblue;

  }
</style>




<body>
  <div class="container" style="font-family: 'Josefin Sans', sans-serif; ">

    <%- include('./partials/navbar.ejs') %>    
    <div class="row " style="height: 85vh;">
      <div class="col-sm my-auto">
        <h2>We Create</h2>
        <h1 style="font-size: 4rem;">What You Want</h1>

        <h6 class="text-muted" >We are Kamingo Consultancy, a company dedicated to providing comprehensive website, app, and database services to businesses and startups. Our expertise lies in delivering tailored solutions that cater to the unique needs of each client. If you have any inquiries or require assistance, feel free to reach out to us.</h6>

        <div class="my-3">
          <!-- <a class="btn me-2  btn-lg" style="font-size: 1.5rem;">Start</a> -->
          <a class="btn me-2  btn-lg btn-primary " href="/contactus" style="font-size: 1.5rem;">Contact Us 💖</a>

        </div>
      </div>
      <div class="col-sm my-auto">
        <img src="websitepicto.png" alt="" srcset="" style="object-fit: scale-down; width: 100%;">
      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 3rem;">
      <%- include('./partials/services.ejs') %>      
    </div>
    <hr>
    <div class="row" style="margin-top: 3rem;">
      <%- include('./partials/partners.ejs') %>      
    </div>
    <hr>
    <div class="row " style="margin-top: 3rem;">
      <div class="col-sm my-auto text-center">
        <h2>What WE</h2>
        <h1 style="font-size: 4rem;">Created</h1>

        <div class="row text-center d-flex my-5  ">
          <div class="col">
            <img src="https://play-lh.googleusercontent.com/SBwtJyAWEddFgp0Yo9KVuMdwOUnGQBUrekKvJCVHRP46GOKlDOWnGhfiy6Ifzp7JUA=w240-h480" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Bundeli Kissan</h3>
            <p>We developed "Bundeli Kissan" for the Madhya Pradesh government, aiming to support farmers, and it has garnered over 10,000 downloads on the Play Store. We're proud to contribute to the welfare of farmers in the region.</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://cdn.pixabay.com/photo/2020/08/13/10/24/play-5484786_960_720.png" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Vedio</h3>
            <p>We Provided video edditing services to many content creators</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>
          <div class="col">
            <img src="https://play-lh.googleusercontent.com/qLjPN-3Dv1PSHcSojDrK2gK7XOcNNfV0iYYKxQh2zf1QalCK00qV8fF46MYoO-YuzNfU=w240-h480" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Saas's</h3>
            <p>We have successfully developed SaaS applications for banks, empowering them to efficiently manage accounts and enhance their operations. Our tailored solutions aim to streamline banking processes and contribute to improved account management for financial institutions.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>


        </div>



        <div class="row text-center d-flex my-5  ">
          <div class="col">
            <img src="kalug.jpg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Kalyug Ka Kurukshetra</h3>
            <p>We specialize in providing comprehensive website solutions for establishing Kalyug's online presence. Our services encompass design, development, and optimization to ensure a robust and engaging digital platform that effectively represents Kalyug.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://play-lh.googleusercontent.com/qLjPN-3Dv1PSHcSojDrK2gK7XOcNNfV0iYYKxQh2zf1QalCK00qV8fF46MYoO-YuzNfU=w240-h480" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Kamingo App</h3>
            <p>We have designed and developed the Kamingo App, which connects customers with a variety of local services. Our app offers a convenient way for users to access and engage with different service providers, enhancing their overall experience and meeting their needs effectively.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://png.pngtree.com/element_our/md/20180626/md_5b321c98efaa6.jpg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>WhatsApp Bots</h3>
            <p>Our offerings include WhatsApp bot-related services, allowing businesses to leverage automated interactions on the WhatsApp platform. These bots can enhance customer engagement, provide instant support, and streamline various processes, contributing to a more efficient and effective communication strategy.</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>
        </div>
      </div>

    </div>

   
    <hr>
    <div class="row " style="margin-top: 3rem;">
      <div class="col-sm my-auto text-center">
        <h2>All</h2>
        <h1 style="font-size: 4rem;">About Us</h1>

        <div class="row text-center d-flex my-5  " id="aboutus">
          <div class="col">
            <img src="https://media.licdn.com/dms/image/D4D03AQHMj6TIgcUxvg/profile-displayphoto-shrink_800_800/0/1674899034827?e=2147483647&v=beta&t=vz_azWf0sFaeFYvMsYQTYMLCiHsJW2DB9wL0YFu8fIg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Rajvendra Rahi(That's Me) </h3>
            <p>We Made bundeli kissan for mp government for kissans and it has over 10k+ downloads on playstore</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://media.licdn.com/dms/image/D5603AQFhstS_GLPMKQ/profile-displayphoto-shrink_200_200/0/1688651646539?e=1698883200&v=beta&t=RKsOV0dGio9y7Jy8uHZmycU1K1l3wVTKQeYBtA8TNrY" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Trivendra Rahi</h3>
            <p>We Provided video edditing services to many content creators</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://thumbs.dreamstime.com/b/greek-round-antique-pattern-alexander-great-macedonian-vector-ornament-geometric-134991663.jpg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Sikander</h3>
            <p>We Provided video edditing services to many content creators</p>

            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>



        </div>


        <div class="row text-center d-flex my-5  ">
            <div class="col">
                <img src="https://media.licdn.com/dms/image/D4D03AQFHJdv7OjX1Lg/profile-displayphoto-shrink_200_200/0/1680436852977?e=1698883200&v=beta&t=C8ZspV0e52Uz4FVcMi2z62ulqB693PrnYuZsFLpuK3g" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
                <h3>Ayush Tripathi</h3>
                <p>We Created Saas Apps for the Banks which help them in managing accounts </p>
                <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
              </div>
    
          <div class="col">
            <img src="https://media.licdn.com/dms/image/D5603AQH9whh5kQGJtw/profile-displayphoto-shrink_200_200/0/1674190772365?e=1698883200&v=beta&t=PHVbvFgOxABMLNVkO122ODVL-9A2-EubRibLQxp57KM" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Sachin Singh Baghel</h3>
            <p>We create a full website solution of kalug's online presence</p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <div class="col">
            <img src="https://as2.ftcdn.net/v2/jpg/05/28/15/39/1000_F_528153983_mOYVMqbF53g6rwiXvAhMBIuQhjS6K6Fo.jpg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
            <h3>Ayush Dhapade</h3>
            <p>We Created Kamingo App which provides local services to customers </p>
            <!-- <a href="" class="btn me-2" style="font-size: 1rem;">View</a> -->
          </div>

          <!-- <div class="col">
                    <img  src="https://png.pngtree.com/element_our/md/20180626/md_5b321c98efaa6.jpg" class="rounded-circle border shadow mb-3" width="200px" alt="" srcset="">
                    <h3>WhatsApp Bots</h3>
                    <p>We provide whatsapp bot related serveices  </p>
                    <a href="" class="btn me-2" style="font-size: 1rem;">View</a>
                </div> -->
        </div>
      </div>

    </div>



  </div>

</body>





<!-- <div class="container">






        <div class="row h-auto pt-3" style="background-color: aliceblue;">
            <div class="col mt-auto m-5">
                <h1 class="mt-5" style="font-size: 3rem;">WE Create</h1>
                <h1 style="font-size: 4rem;">What You Want</h1>

                <p style="font-size: 1.2rem;">Kamingo Constultancy is a website which can help you create websites and beautiful apps</p>

                <button class="btn me-2 mb-2"
                    style="font-size: 1.5rem;"
                    type="">Start</button>
                <button class="btn mb-2"
                    style="font-size: 1.5rem; "
                    type="">Contact</button>

            </div>
            <div class="col m-5 "
                style="">

                <img src="websitepicto.png"
                    alt=""
                    srcset=""
                    style="max-width: 40rem; width: 100%; ">

            </div>

        </div>

        <div class="row h-auto pt-5" style="">
            <div class="row text-center">
                <h1 class="my-3" >What We Build </h1>
                
            </div>
            <div class="row my-3 text-center">
                <div class="col-4 d-flex" style="align-items: center;flex-direction: column;">
                    <p>Bundeli Kissan</p>
                    <div class="border rounded-3 bg-dark" style="height: 10rem; width:10rem">
                    
                    </div>
                </div>
                <div class="col-4">
                    <p>Kamingo</p>
                </div>
                <div class="col-4">
                    <p>Passbook Saas</p>
                </div>
            </div>

        </div>

    </div> -->
    <hr>
    <%- include('./partials/socialmedia.ejs') %>   

</html>