@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.serchicon {
  display: none;
}
.hamburg {
  display: none;
}
.items ul li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.serchicon {
  display: none;
}

.logo {
  margin: 11px 0 0 -5px;
  margin-left: 0px;
  margin-top: 7px;
  margin-right: 0px;
}

.hero {
  height: 700px;
  width: 100%;
}
.hero-content {
  color: white;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  height: 530px;
}

.header {
  border-radius: 20px;
  z-index: 99;
  padding: 5px;
  margin-top: 10px;
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: rgba(248, 251, 248, 0.9);
  width: 93%;
  height: 56px;
  text-align: right;
  margin: 0 5 0px;
  margin-top: 10px;
  border-radius: 20px;
}

.item {
  margin: 10px 20px;
  color: #000;
}
.nav_section {
  z-index: 99;
}
.btn {
  border: 2px cornflowerblue solid;

  box-shadow: none;
  background-color: dodgerblue;
  color: aliceblue;
  border-radius: 0.7rem;
  width: 100px;
}

.btn:hover {
  font-size: 1.5rem;
  background-color: cornflowerblue;
  color: white;
  border: 2px darkcyan solid;
  border-radius: 0.7rem;
  box-shadow: 7px 7px deepskyblue;
}

.main_heading {
  //   width: 638px;
  //   height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;

  //   color: #ffffff;
}
.heading2 {
  // width: 638px;
  // height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
}

.peragraph {
  text-align: left;
}
.login {
  padding: 9px 20px;
  gap: 10px;

  // width: 101px;
  // height: 38px;
  color: #fff;

  background: linear-gradient(180deg, #0b224e -140%, #01787b 93.61%);

  box-shadow: 0px 0px 15.7636px rgba(56, 185, 144, 0.5);
  border-radius: 34px;
}
